doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/p5.js')
    script(src='javascripts/sketch.js')
  body
    block content
